body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
.cover-image {
    flex: 1; /* Take remaining space */
    width: 100%;
    object-fit: cover; /* Ensures image covers the container */
    object-position: center; /* Center the image */
}
.lead{
    font-size: 25px;
    font-weight:bold;
}
.Carouselimg{
    border-radius: 50%;
}

.carouseltxt{
    font-size: 20px;
    font-weight: normal;
}
